@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.mobile-menu__item_ic:after, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-clip:before {
  content: "\e904";
}

._icon-comments:before {
  content: "\e905";
}

._icon-community:before {
  content: "\e906";
}

._icon-Connection:before {
  content: "\e907";
}

._icon-eye:before {
  content: "\e908";
}

._icon-favorite:before {
  content: "\e909";
}

._icon-friends:before {
  content: "\e90a";
}

._icon-home:before {
  content: "\e90b";
}

._icon-home-mob:before {
  content: "\e90c";
}

._icon-like:before {
  content: "\e90d";
}

._icon-message:before {
  content: "\e90e";
}

._icon-message-mob:before {
  content: "\e90f";
}

._icon-music:before {
  content: "\e910";
}

._icon-notification:before {
  content: "\e911";
}

._icon-photo:before {
  content: "\e912";
}

._icon-plus:before {
  content: "\e913";
}

._icon-repost:before {
  content: "\e914";
}

._icon-search:before {
  content: "\e915";
}

._icon-services:before {
  content: "\e916";
}

._icon-settings:before {
  content: "\e917";
}

._icon-video:before {
  content: "\e918";
}

._icon-Wifi:before {
  content: "\e919";
}

._icon-znak:before {
  content: "\e91a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #818C99;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
  line-height: 15px;
  background: #F8F8F8;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1340px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 990px) {
  .quantity-span {
    position: absolute;
    height: 18px;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #ffffff;
    padding: 0px 5px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quantity-span_red {
    background: #ff3347;
  }
  .quantity-span_purple {
    background: #6829cf;
  }
  .quantity-span-point {
    background: #ff3347;
    border-radius: 9px;
    width: 6px;
    height: 6px;
    position: absolute;
    right: 5px;
    top: 0;
  }
}
.header {
  background: #ffffff;
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  z-index: 10;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 7px 0px;
}
.header__logo {
  flex: 0 1 170px;
  display: flex;
}
.header__logo::before {
  font-size: 20px;
  padding-right: 5px;
  color: #9a5dff;
}
.header__logo img {
  max-width: 24px;
  padding-top: 3px;
}
.header__form {
  flex: 0 1 230px;
  height: 28px;
  padding: 0px 27px 0px 23px;
  border-radius: 14px;
  border: 1px solid #f8f8f8;
  margin-right: 565px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.header__form::before {
  color: #9a5dff;
  font-size: 13px;
  padding: 2px 0px 0px 5px;
}
.header__input {
  padding-bottom: 2px;
  outline: none;
}
.header__input::placeholder {
  font-size: 14px;
  letter-spacing: -0.078px;
  color: #9a5dff;
}
.header__personal {
  display: flex;
  align-items: center;
}
.header__perosnal-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-right: 16px;
  color: #6829CF;
}
.header__personal-image {
  border-radius: 50%;
  overflow: hidden;
}
.header__personal-image img {
  width: 28px;
  height: 28px;
}
.header__mobile {
  padding-top: 15px;
  display: none;
}
.header__mobile-top {
  padding-left: 15px;
}
.header__mobile-top, .header__mobile-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header__mobile-time {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #000000;
}
.header__mobile-icons {
  display: flex;
  align-items: center;
}
.header__mobile-icon:not(:last-child) {
  margin-right: 20px;
}
.header__mobile-bottom {
  padding-left: 8px;
}
.header__mobile-page {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.header__mobile-bottom-icons {
  display: flex;
  align-items: center;
}
.header__mobile-bottom-icon {
  color: #9a5dff;
  font-size: 16px;
}
.header__mobile-bottom-icon:not(:last-child) {
  margin-right: 20px;
}
.header__mobile-form {
  display: flex;
  align-items: center;
  background: #ebedf0;
  border-radius: 10px;
  padding-left: 15px;
  margin-bottom: 25px;
}
.header__mobile-form::before {
  font-size: 15px;
}
.header__search-input {
  outline: none;
  background: #ebedf0;
  border-radius: 10px;
  padding: 0px 10px;
  width: 100%;
  height: 45px;
}
.header__search-input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}
.mobile-menu__list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(129, 140, 153, 0.5);
}
.mobile-menu__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  flex: 1 0 65px;
}
.mobile-menu__item:not(:last-child) {
  margin-right: 30px;
}
.mobile-menu__item._active-mobile-menu {
  color: #000000;
  border-bottom: 2px solid #9a5dff;
  border-radius: 2px;
}
.mobile-menu__item_ic:after {
  content: "\e900";
  transform: rotate(90deg);
  font-size: 10px;
}
.mobile-menu__item_ic span {
  padding-right: 8px;
}

@media (max-width: 990px) {
  .header {
    position: relative;
    height: 100%;
  }
  .header__body {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .stories {
    padding: 16px 0px 12px 0px;
  }
  .stories__items {
    display: flex;
    overflow: visible;
  }
  .stories__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stories__item:not(:last-child) {
    margin-right: 20px;
  }
  .stories__item-image {
    margin-bottom: 6px;
  }
  .stories__item-image img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }
  .stories__item-image_main {
    background: #f2f3f5;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 200px;
  }
  .stories__item-image::before {
    font-size: 20px;
    color: #6d7885;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
  }
  .stories__item-name {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: #6d7885;
  }
  .stories__item-name._main-name {
    color: #3682d8;
  }
}
.page {
  padding-top: 70px;
}
.page__container {
  display: flex;
  margin-bottom: 50px;
}
.sidebar {
  flex: 0 1 160px;
  margin-right: 20px;
}
.sidebar__menu {
  padding-left: 8px;
}
.sidebar__bottom {
  margin: 12px 0px 0px 8px;
}
.sidebar__item {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #818c99;
}
.sidebar__push, .sidebar__mobile-message, .sidebar__mobile-music, .sidebar__mobile-buttons, .sidebar__mobile-menu {
  display: none;
}

.menu {
  border-bottom: 1px solid #dce1e6;
  padding-bottom: 20px;
}
.menu__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list li:not(:last-child) {
  margin-bottom: 5px;
}
.menu__link {
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.menu__link span {
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 105px;
  margin-left: 13px;
}
.menu__link img {
  width: 17px;
}
.menu__link-number {
  font-size: 11px;
  line-height: 13px;
  color: #9a36d8;
  background: #f0f2f5;
  border-radius: 30px;
  height: 20px;
  padding: 0px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainconten__news {
  flex: 0 1 770px;
  margin-right: 30px;
}
.alone-news {
  display: none;
}

.news-personal {
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 18px;
  padding: 10px 20px 10px 28px;
  display: flex;
  align-items: center;
}
.news-personal__image {
  margin-right: 23px;
}
.news-personal__image img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.news-personal__text {
  flex: 1 1 auto;
  margin-right: 10px;
  display: flex;
}
.news-personal__text-link {
  text-decoration: underline;
  color: #9a36d8;
}
.news-personal__add {
  font-size: 16px;
  color: #9a36d8;
  background: #f0f2f5;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: all 0.3s ease 0s;
}
.news-personal__add:hover {
  background: #eaebee;
}

.newsfeed {
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  padding: 26px 25px 28px 28px;
}
.newsfeed__item:not(:last-child) {
  border-bottom: 1px solid rgba(129, 140, 153, 0.5);
  padding-bottom: 47px;
  margin-bottom: 47px;
}
.newsfeed__top {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.newsfeed__avatar {
  margin-right: 18px;
}
.newsfeed__avatar img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.newsfeed__info {
  flex: 1 1 auto;
}
.newsfeed__name {
  color: #6829cf;
}
.newsfeed__time {
  font-size: 14px;
  letter-spacing: -0.078px;
  margin-top: 4px;
}
.newsfeed__more {
  padding-top: 20px;
}
.newsfeed__wrapper-images {
  margin-bottom: 13px;
  display: flex;
}
.newsfeed__image {
  flex: 0 1 350px;
  margin-right: 12px;
}
.newsfeed__image img {
  width: 100%;
}
.newsfeed__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
}
.newsfeed__actions-right {
  display: flex;
  align-items: center;
}
.newsfeed__actions-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 8px;
  background: rgba(0, 28, 61, 0.05);
  border-radius: 46px;
  height: 28px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.newsfeed__actions-item::before {
  font-size: 12px;
  padding-right: 5px;
  color: #99a2ad;
  padding-top: 2px;
}
.newsfeed__actions-left {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #99a2ad;
}
.newsfeed__actions-left::before {
  font-size: 12px;
  padding-right: 5px;
  color: #b8c1cc;
}

.information {
  flex: 0 0 333px;
}
.information__item {
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;
}
.information__menu-wrapper {
  padding: 22px 0px;
}
.information__menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  letter-spacing: -0.078px;
  padding: 10px 23px 10px 45px;
  background: #ffffff;
  transition: all 0.3s ease 0s;
}
.information__menu-link._active-info {
  color: #6829cf;
  background: #f0f2f5;
}
.information__menu-link:hover {
  background: #f0f2f5;
}
.information__menu-icons {
  display: flex;
}
.information__menu-icon {
  color: #818c99;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.information__menu-icon:not(:last-child) {
  padding-right: 15px;
}
.information__menu-icon:hover {
  color: #6829cf;
}
.information__submenu-link {
  font-weight: 400;
  font-size: 16px;
  background: #ffffff;
  padding: 10px 23px 10px 59px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.information__submenu-link:hover {
  background: #f5f6f8;
}
.information__interesting-body {
  padding: 16px 30px 16px 45px;
  display: flex;
  align-items: center;
}
.information__interesting-text {
  margin-right: 20px;
}
.information__interesting-button {
  width: 29px;
  height: 18px;
  background: #9a36d8;
  border-radius: 30px;
  position: relative;
}
.information__interesting-button::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
  right: 1px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.information__border {
  margin: 10px 35px;
  border-bottom: 1px solid rgba(104, 41, 207, 0.5);
}

.friends {
  padding: 22px 0px 26px 0px;
}
.friends__title {
  margin: 0px 0px 18px 45px;
}
.friends__items {
  padding: 18px 15px 30px 45px;
}
.friends__item {
  display: flex;
  align-items: center;
}
.friends__item:not(:last-child) {
  margin-bottom: 17px;
}
.friends__image {
  margin-right: 14px;
}
.friends__image img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.friends__info-name {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.078px;
  margin-bottom: 3px;
  transition: all 0.3s ease 0s;
}
.friends__info-name:hover {
  color: #656c74;
}
.friends__info-total {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 3px;
  transition: all 0.3s ease 0s;
}
.friends__info-total:hover {
  color: #656c74;
}
.friends__add {
  font-size: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.078px;
  color: #6829cf;
  transition: all 0.3s ease 0s;
}
.friends__add::before {
  padding-right: 6px;
}
.friends__add:hover {
  color: #4e1e9b;
}
.friends__border {
  border-bottom: 1px solid rgba(104, 41, 207, 0.5);
}
.friends__all {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  transition: all 0.3s ease 0s;
}
.friends__all::before {
  font-size: 14px;
  margin-left: 40px;
  color: #6829cf;
}
.friends__all:hover {
  color: #6829cf;
}

@media (max-width: 1250px) {
  .newsfeed__item:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1100px) {
  .information {
    flex: 0 0 300px;
  }
  .information__interesting-body {
    padding: 16px 30px 16px 20px;
  }
  .header__form {
    margin-right: 348px;
  }
  .newsfeed__top {
    margin-bottom: 20px;
  }
  .newsfeed__item:not(:last-child) {
    padding-bottom: 25px;
    margin-bottom: 20px;
  }
}
@media (max-width: 990px) {
  .page {
    padding-top: 8px;
  }
  .page__container {
    flex-direction: column-reverse;
    padding: 0px;
  }
  .information,
.news-personal__image,
.news-personal__text-link {
    display: none;
  }
  .mainconten__news {
    margin-right: 0;
  }
  .newsfeed {
    border-radius: 0px;
    padding: 0px 20px 28px 15px;
  }
  .news-personal {
    border-radius: 0px;
    padding: 11px 15px 11px 20px;
  }
  .news-personal__text {
    background: #9a5dff;
    border-radius: 30px;
    padding: 5px 75px;
    width: 100%;
  }
  .news-personal__text span {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.007em;
    color: #ffffff;
  }
  .alone-news {
    display: flex;
    padding: 8px 20px 8px 15px;
    margin-bottom: 8px;
    background: #ffffff;
  }
  .alone-news__avatar,
.newsfeed__avatar {
    margin-right: 8px;
    position: relative;
  }
  .alone-news__avatar img,
.newsfeed__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .alone-news__avatar:before,
.newsfeed__avatar:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    bottom: 0;
    right: 0;
    background: url(../img/icons/online.svg) no-repeat;
  }
  .newsfeed__avatar:before {
    width: 12px;
    height: 15px;
    background: url(../img/icons/mobile.svg) no-repeat;
  }
  .alone-news__info {
    flex: 1 1 auto;
  }
  .alone-news__name,
.newsfeed__name {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.004em;
    color: #000000;
  }
  .alone-news__time,
.newsfeed__time {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 3px;
    display: flex;
    align-items: center;
  }
  .alone-news__time span::before {
    color: #9a36d8;
    font-size: 10px;
    padding-left: 4px;
  }
  .newsfeed__top {
    margin-bottom: 15px;
  }
  .newsfeed__actions {
    padding-top: 0px;
  }
  .newsfeed__image {
    flex: 0 1 100%;
  }
  .newsfeed__item:not(:last-child) {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .sidebar__wrapper {
    display: none;
  }
  .sidebar__mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 5px 15px;
    background: #ffffff;
    border-top: 0.5px solid rgba(0, 0, 0, 0.12);
  }
  .sidebar__mobile-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar__mobile-menu-link {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #99a2ad;
    position: relative;
  }
  .sidebar__mobile-menu-link:before {
    color: #818c99;
    font-size: 24px;
    padding-top: 5px;
  }
  .sidebar__mobile-menu-link._active-mobile-menu {
    color: #6829cf;
  }
  .sidebar__mobile-menu-link._active-mobile-menu:before {
    color: #6829cf;
  }
  .sidebar__mobile-bottom {
    padding: 21px 0px 10px 0px;
  }
  .sidebar__mobile-bottom-decor {
    background: #000000;
    opacity: 0.9;
    border-radius: 100px;
    width: 130px;
    height: 5px;
    margin: 0 auto;
  }
  .sidebar {
    margin-right: 0px;
  }
  .sidebar__mobile-menu {
    display: block;
  }
  .message-mobile {
    display: none;
    align-items: center;
    padding: 3px 0px 10px 0px;
  }
  .message-mobile__add {
    margin-right: 14px;
  }
  .message-mobile__input {
    flex: 1 1 auto;
    height: 35px;
    padding: 0px 12px;
    background: #f2f3f5;
    border: 1px solid #e1e3e6;
    border-radius: 18px;
    margin-right: 12px;
  }
  .message-mobile__input::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
  }
  .message-mobile__emoji {
    margin-right: 12px;
  }
  .message-mobile__send img {
    width: 32px;
    height: 32px;
  }
  .music-mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
  }
  .music-mobile__play {
    padding-left: 3px;
  }
  .music-mobile__info {
    text-align: center;
  }
  .music-mobile__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    display: flex;
    align-items: center;
  }
  .music-mobile__title span {
    color: #818c99;
    padding: 4px;
  }
  .music-mobile__subtitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
  }
  .mobile-buttons {
    display: none;
    border: 1px solid #99a2ad;
    border-radius: 10px;
    overflow: hidden;
  }
  .mobile-buttons__tabs {
    flex: 0 1 50%;
    background: #99a2ad;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.004em;
    color: #ffffff;
    padding: 7px 12px;
    text-align: center;
  }
  .mobile-buttons__tabs._tabs-active {
    color: #99a2ad;
    background: #ffffff;
  }
  .sidebar__push {
    display: none;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 12px;
    margin: 15px;
  }
  .sidebar__push-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #000000;
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .news-personal__text {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .news-personal__text {
    padding: 5px 30px;
  }
  .message-mobile__send img {
    width: 26px;
    height: 26px;
  }
  .message-mobile__input {
    width: 190px;
  }
}
